<div class="user-sidebar">
  <div class="avatar text-center">
    <a href="#"><img src="http://placehold.it/214x200" alt="Adds"></a>
  </div>
  <h4><i class="icon-user"></i>&nbsp;<%= @user.username %></h4>

  <% if !@me && !current_user.nil? %>
      <div class="action-buttons">
          <% if current_user.following?(@user).nil? %>
            <%= link_to (t "Latte!"), follow_user_path(@user.id), :remote => true, :class => "btn btn-primary btn-small btn-block follow-button" %>
            <%= link_to (t "Delatte!"), unfollow_user_path(@user.id), :remote => true, :class => "btn btn-primary btn-small btn-block unfollow-button", :style => "display:none" %>

          <% else %>
            <%= link_to (t "Latte!"), follow_user_path(@user.id), :remote => true, :class => "btn btn-primary btn-small btn-block follow-button", :style => "display:none" %>
            <%= link_to (t "Delatte!"), unfollow_user_path(@user.id), :remote => true, :class => "btn btn-primary btn-small btn-block unfollow-button" %>
          <% end %>
      </div>
<% end %>

  <ul class="nav nav-pills nav-stacked tabs">
    <li>
      <a href="#" data-tab="latters">
        <i class="icon-eye-open"></i>Latters <span class="badge pull-right"><%= @user.followers.count %></span>
      </a>
    </li>
    <li>
      <a href="#" data-tab="latteds">
        <i class="icon-user"></i>Latteds <span class="badge pull-right"><%= @user.followed_users.count %></span>
      </a>
    </li>
    <li>
      <a href="#" data-tab="watched">
        <i class="icon-user"></i>Watched <span class="badge pull-right"><%= @user.items.count %></span></a>
    </li>
    <li>
      <a href="#" data-tab="rated">
        <i class="icon-user"></i>Rated <span class="badge pull-right">X</span></a>
    </li>
    <li>
      <a href="#" data-tab="commented">
        <i class="icon-user"></i>Commented <span class="badge pull-right">X</span></a>
    </li>
    <li>
      <a href="#" data-tab="collections">
        <i class="icon-user"></i>Collections <span class="badge pull-right">X</span></a>
    </li>
  </ul>
</div>
